.text{
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 100px auto;
    width: max-content;
    color: rgb(118, 68, 165);
    padding: 2px;
}
.tooltip{
    position: relative;
}
.tooltip-text{
    position: absolute;
    font-size: 20px;
    color: white;
    background-color: blueviolet;
    padding: 10px 20px;
    /* display: block; */
    /* top: 0%; */
    /* left: 50%; */
    border-radius: 50px;
    /* transform: translate(-50%,-120%); */
}
.tooltip-text::after{
    content:" ";
    transform: translate(-50%, 80%);
    position: absolute;
    bottom: 0;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;        
    border-top: 10px solid blueviolet;
}